menu "ush"
    config USH_HISTORY_MASKBITS
		int "ush history mask bits count, 3 means 2 ^ 3 - 1 = 7, default 7."
        default 7
	
	config USH_CMDLINE_MAXCHARS
		int "ush command line buffer size"
        default 256

	config USH_VIMODE
		bool "vi editing moe"
		default y

	config USH_READER_CHUNKSIZE
		int "ush console reader chunksize"
		default 32

endmenu
